body {
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a {
	color:inherit;
}

a:hover {
	text-decoration: none;
	color:inherit;
}

ul {
	list-style-type:none;
	padding:0;
}

.container {
	padding:30px;
	width:1000px;
	box-shadow: 1px 1px 3px #000;
}

.reciperow img{
	width:100px;
	height:100px;
}

.formInput input {
	margin-bottom:10px;
}

.photosThumb{
	width:100px;
	height:100px;
	object-fit: cover;
}

.sideNav {
	position:fixed;
	top:0;
	left:0;
	width:200px;
	height:100%;
	background-color:#ff0000;
	color:#fff;
}

.sideNav ul > li {
	height:50px;
	font-size:18px;
	background-color:#ff0000;
}

.sideNav ul > li:hover {
	background-color:rgba(0,0,0,0.3);
	color:#fff;
}

.sideNav ul > li > a {
	padding: 12px 0 0 16px;
	height:100%;
	width:100%;
	display:block;
}

.sideNav ul > li > a > svg {
	width:20px !important;
}

.sideNav .navText {
	margin-left:10px;
}

.content-wrapper {
	margin-left:200px;
	padding-left:50px;
	margin-right:200px;
	margin-top:50px;
}

.search-input .input-group-prepend > svg {
	height: 100%;
    width: 20px;
    margin: 0 10px 0 10px;
}

.search-input .input-group-prepend {
	border:1px solid #ced4da;
	border-right:none;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.search-input input {
	border-left:none;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.filter-by {
	margin-top:20px;
	margin-left: 6px;
	border-bottom: 1px solid #ced4da;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.filter-by .filter-checkboxes > div > input{
	margin-left:20px;
	margin-right:5px;
}

.reciperow .flex-column {
	padding-left: 14px;
}

.reciperow {
	margin-top:10px;
	margin-bottom:10px;
	cursor: pointer;
	border:1px solid #ced4da;
	border-radius:12px;
}

.reciperow img {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.reciperow h5 {
	padding-top:10px;
}

.recipe-category {
	font-weight: bold;
	font-size: 13px;
	color:#fff;
	background-color:#ff0000;
	border-radius:10px;
	margin-top:10px;
	margin-right:10px;
	height: 29px;
	width:110px;
	text-align: center;
    padding: 5px 10px 5px 10px;
    overflow: hidden;
}

.recipe-desc {
	font-size:14px;
	margin-top:8px;
}

.recipe-title, .recipe-container {
	width:100%;
}

.photos-row {
	margin-top:20px;
	margin-bottom:20px;
}

.recipe-details .recipe-category {
	margin-left:20px;
	margin-top: 3px;
}

.recipe-ingredients {
	margin-top:30px;
}

.recipe-ingredients .ingre-name {
	width:200px;
}

.recipe-steps {
	margin-top:30px;
}

.button-row > *{
	margin-left:10px;
	margin-right:10px;
}

.close-button {
	position: absolute;
    right: 20px;
}

.add-modal .button-row > button.btn , .edit-row .button-row > button.btn{
	height:38px;
}

.add-modal .input-select, .edit-row .input-select {
	margin-top:20px;
}

.add-modal .input-select select, .edit-row .input-select select {
	height:40px;
	padding-left:20px;
	padding-right:20px;
}

.ingreInputs input, .stepInputs input {
	margin-left:10px;
}

.ingreInputs > .flex-row > input, .stepInputs input {
	margin-right:30px;
	height:34px;
}

.stepInputs input {
	width:446px;
}

.edit-row {
	margin-bottom: 40px
}

.ingreInputs button.btn, .stepInputs button.btn {
	height:34px;
	padding-top:4px;
	width:34px;
	padding-left:11px;
}

.add-ingredient, .add-steps {
	margin-left:23px;
	margin-bottom:30px;
}

.btn-info, .btn-info:hover, .btn-info:focus, .btn-info:active {
	outline:0;
	border:none;
	background-color: #ff0000;
}

.desc-row {
	margin-bottom: 20px
}

.photos-h {
	margin-top:30px;
}

.edit-row .photos-row > * {
	margin-right:30px;
	border:1px solid #ced4da;
}